.chartDiv {

    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
    background: black;

    border-radius: 10px;
}

label {

    margin-left: 475px;
    padding-bottom: 50px;
    margin-top: -25px;
    color: rgb(138, 138, 228);
    text-align: center;
}